.signUp-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUp-form h2, .signUp-form p, .signUp-form a {
    text-align: center;
    color: var(--form-color);
}

.signUp-form form {
    padding: 25px;
}

.signUp-form h2 {
    margin-bottom: 20px;
}

.signUp-form label {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
    color: var(--label-color);
}

.signUp-form input {
    margin-bottom: 15px;
}

.signUp-form p, .signUp-form a {
    margin-top: 8px;
}